.touch{
    transition: 0.1s linear transform;
}
.touch:active{
    transform: scale(0.95);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root{
    --color:#610bff;
}

a{
    text-decoration: none;
    color: var(--color);
}