body{
    height: auto;
    min-height: 100vh;
    user-select: none;
    padding-bottom: 50px;
}
.top{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 150px;
    transition: 0.2s linear padding-top;
}
h1{
    font-size: 3.5em;
}
.top p{
    color: #888;
    font-size: 0.7em;
    opacity: 0.7;
}
.searchDiv{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#query{
    width: min(87%,500px);
    margin-top: 70px;
    font-size: 1em;
    padding: 18px 10px 18px 18px;
    outline : none;
    border: 2px solid #888;
    transition: 0.3s linear border-color;
    border-radius: 3px;
}
#query::-webkit-search-cancel-button{
    -webkit-appearance: none;
    height: 1.5em;
    height: 13px;
    width: 13px;
    border-radius:10px;
    background: url("../icons/cross.svg");
}

#query:focus{
    border-color: var(--color);
}
.searchDiv .suggestions{
    width: min(88%,500px);
    height: auto;
    background-color: #00000000;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    margin-top: 136px;
    box-shadow: 0px 0px 10px 10px #00000008;
}
.searchDiv .suggestions p{
    padding: 15px 15px 15px 20px;
}
.searchDiv .suggestions p:active{
    background-color: #ddd;
}
.bookmarks{
    width: min(88%,500px);
    margin: auto;
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bookmarks p{
    padding:11px 21px;
    margin: 5px;
    border-radius: 5px;
    background-color: #00000008;
    font-size: 0.85em;
    transition: 0.1s linear transform;
    pointer-events: fill;
    color: var(--color);
}
.bookmarks p:active{
    transform: scale(0.9);
}
